<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UIBase.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <UIBase.Properties.Settings>
            <setting name="OrderQuantity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Slippage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StopPrice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DebugMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SoundFileName" serializeAs="String">
                <value>Windows Pop-up Blocked.wav</value>
            </setting>
            <setting name="SmtpLogin" serializeAs="String">
                <value>smtp@type1crm.ru</value>
            </setting>
            <setting name="SmtpPassword" serializeAs="String">
                <value />
            </setting>
        </UIBase.Properties.Settings>
    </userSettings>
</configuration>