<?xml version="1.0" encoding="utf-8" ?>
<nlog  xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  throwExceptions="true" autoReload="true"  >

  <targets>

     <target name="fileError" xsi:type="File" fileName="${specialfolder:folder=DesktopDirectory}/AlfaDirectAutomation/Logs/${date:format=yyyy-MM-dd}_errors.xml"
      layout="${log4jxmlevent:includeSourceInfo=true:includeCallSite=true:includeMDC=true:appInfo=true:includeNDC=true:includeNLogData=true}" />

    <target name="fileInfo" xsi:type="File" fileName="${specialfolder:folder=DesktopDirectory}/AlfaDirectAutomation/Logs/${date:format=yyyy-MM-dd}_info.xml"
     layout="${log4jxmlevent:includeSourceInfo=true:includeCallSite=true:includeMDC=true:appInfo=true:includeNDC=true:includeNLogData=true}" />

    <target name="fileDebug" xsi:type="File" fileName="${specialfolder:folder=DesktopDirectory}/AlfaDirectAutomation/Logs/${date:format=yyyy-MM-dd}_debug.xml"
   layout="${log4jxmlevent:includeSourceInfo=true:includeCallSite=true:includeMDC=true:appInfo=true:includeNDC=true:includeNLogData=true}" />

  </targets>


  <rules>
    <logger name="*" levels="Error" writeTo="fileError" />
    <logger name="*" levels="Info" writeTo="fileInfo" />
    <logger name="*" levels="Debug" writeTo="fileDebug" />
  </rules>
</nlog>